<!-- Copyright -->
<footer class="py-8 bg-gray-100 text-center text-gray-500">
  <p>
    <small>
      &copy;&nbsp;
      {%- assign date_from = site.posts[-1].date | date_to_xmlschema -%}
      {%- assign year_from = date_from | date: '%Y' -%}
      {%- assign date_to   = site.time | date_to_xmlschema -%}
      {%- assign year_to   = date_to | date: '%Y' -%}
      {%- unless year_from == nil or year_from == year_to -%}
        <time datetime="{{ date_from }}">{{ year_from }}</time>&ndash;
      {%- endunless -%}
      <time datetime="{{ date_to }}">{{ year_to }}</time>
      {%- if site.author -%}
        &nbsp;{{ site.author }}
      {%- endif -%}
      . All rights reserved.
    </small>
  </p>
</footer>

  <!-- footnotes to side notes -->
<script src="{{ site.baseurl }}/js/sidenotes.js"></script>
</body>
</html>