<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <!-- Alpine.js -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </head>

  <body class="bg-gray-50">
    <!-- Navigation -->
    {% include nav.html %}