---
layout: default
---

<header class="xl:col-start-1 xl:col-span-9">
  <h1>{{ page.title }}</h1>

  {%- if page.lede -%}
    <div class="lead">{{ page.lede }}</div>
  {%- endif -%}

  {%- if page.time -%}
    <div class="flex my-4 items-center text-gray-400">
      <span class="" >
        {{ page.time }}
        {%- if page.setup -%}
          <br />{{ page.setup }}
        {%- endif -%}
      </span>
    </div>
  {%- elsif page.date -%}
    <div class="flex my-4 items-center text-gray-400">
      <time class="" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: '%-d %b %Y' }}</time>
    </div>
  {%- endif -%}

  {%- if page.image -%}
    <img src="{{ page.image }}" class="xl:col-start-1 xl:col-span-full xl:max-w-screen-lg" alt="{{ page.image_alt }}">
  {%- endif -%}
</header>

<div class="xl:col-start-1 xl:col-span-9 xl:max-w-prose article" itemprop="articleBody">
  {{ content }}

  {%- include tags.html -%}
</div>