@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles overriding tailwind-typography */
/* .prose blockquote {
  quotes: "\2018""\2019""\201C""\201D";
} */

.tag a {
  @apply no-underline;
}

.prose .cap {
  @apply -mt-5 md:-mt-4 text-gray-400 text-center italic text-sm md:text-base;
}

.prose .sec {
  @apply text-gray-400;
}

.prose .ter {
  @apply text-gray-400 italic;
}

.prose .wide {
  @apply xl:max-w-screen-lg;
}

.prose h2::before {
  @apply absolute text-gray-200;
  content: '##';
  margin-left: -3ch;        /* make preceding `#`s look like flush left */
}

.prose h3::before {
  @apply absolute text-gray-200;
  content: '###';
  margin-left: -4.25ch;     /* make preceding `#`s look like flush left */
}

.prose a {
  @apply text-yellow-500;
}

.prose mark {
  @apply bg-yellow-200;
}

.prose code::before, .prose code::after {
  content: none;
}

.prose code {
  @apply px-1.5 py-1 bg-gray-200 rounded;
}

.prose cite {
  @apply italic;
}

/* Blockquote */
.prose .article blockquote {
  @apply font-sign block relative w-11/12 border-l-0 not-italic;
}

.prose .article blockquote p {
  @apply text-xl md:text-2xl lg:text-3xl font-black tracking-tight;
}

.prose .article blockquote p:first-of-type::before {
  @apply -ml-10 -mt-6 lg:-mt-8 text-6xl md:text-7xl lg:text-8xl absolute text-gray-200 font-serif not-italic -z-10;
  content: '\275D';
}

.prose .article blockquote > footer, .prose .note blockquote > footer {
  @apply text-right block not-italic;
}

.prose .article blockquote > footer::before, .prose .note blockquote > footer::before {
  content: '\2014';
  padding: 0.0625em;
}

.prose .note blockquote em {
  @apply not-italic;
}


/* Sidenotes and margin notes */
body {
  counter-reset: sidenote-counter;   /* for sidenotes counter */
}

.prose .sidenote, .prose .marginnote {
  @apply hidden xl:block relative float-right clear-right -mr-96 w-5/12 mt-0 mb-4 text-sm align-baseline text-left not-italic break-words text-gray-400;
}

.prose .sidenote em, .prose .marginnote em {
  @apply italic;
}

.prose .sidenote-number {
  counter-increment: sidenote-counter;
}

.prose .sidenote-number:after {
  @apply relative align-baseline text-sm -top-1.5 left-0.5;
  content: counter(sidenote-counter);
}


.prose .sidenote:before {
  @apply absolute text-sm top-0 -left-4 text-right align-baseline text-yellow-500;
  content: counter(sidenote-counter);
}


.prose input.margin-toggle {
  @apply hidden;
}


.prose label.sidenote-number {
  @apply inline text-yellow-500 pr-1;
}


.prose label.margin-toggle:not(.sidenote-number) {
  @apply inline xl:hidden;
}

@media (max-width: 1279px) {
  .prose .margin-toggle:checked + .sidenote,
  .prose .margin-toggle:checked + .marginnote {
    @apply block relative float-left left-2 w-full pr-24 mx-4 my-4;
    
    /* width: 95%;
    margin: 1rem 2.5%; */
  }
}

@media (max-width: 1279px) {
  .prose label {
    cursor: pointer;
  }
}
@media (min-width: 1280px) {
  .prose label {
    cursor: default;
  }
}

/* Backlinks, wikilinks */
.prose .invalid-link {
  @apply text-gray-400 px-0.5 bg-gray-200;
  color: $color-invalid-link;
  cursor: help;
}

.prose .invalid-link-brackets {
  @apply text-gray-400;
  cursor: help;
}